# Terraform state files
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
# Local .terraform directory
.terraform/

# Override files
override.tf
override.tf.json

# Crash logs
crash.log
Light_cluster/terraform.tfvars
